<div class="container" ng-controller="signupCtrl">
  <div class="row">
    <div class="col-md-6">
      <div class="modal-header">
        <h3 class="modal-title" ng-cloak>{{'注册'}}</h3>
      </div>
      <form method="POST" role="form" name="signupForm">
        <div class="modal-body">
          <div class="form-group">
            <label for="name">用户名:</label>
            <input type="text" placeholder="请输入您的用户名" name="name" ng-model="reg.name" class="form-control" data-is-repeat="/user/check/:name" data-repeat-type="user" tooltip-placement="top" uib-tooltip="抱歉，该用户名已经存在" tooltip-is-open="reg.showTips" tooltip-trigger="none" require>
          </div>
          <div class="form-group">
            <label>密码:</label>
            <input type="password" placeholder="请输入您的密码" name="password" ng-model="reg.password" class="form-control"></div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" type="button" data-dismiss="modal" ng-click="cancel()">关闭</button>
          <button class="btn btn-success" type="submit" ng-click="postReg()">提交</button>
        </div>
      </form>
    </div>
  </div>
</div>
